<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Simplified Wall</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    </head>

    <body>
        <div class="wrapper">
            <div class ="">
                <form action="/logout" method="GET">
                    <input type="submit" value="Logout"/>
                </form>
                <p class="h1"> Welcome {{name}}!!</p>
                
            </div>
            {% with errors = get_flashed_messages(category_filter=["login"]) %}
            {% if errors %}
                {% for msg in errors %}
                <p class="error">{{ msg }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="messages">
                <div class = "showmess">
                    <p class="h4"> {{amountreceived}} Message(s) for {{name}}</p>
                    {% for user in senders%}
                    <p> {{user['first_name']}} <em>{{user['created_at']}}</em></p>
                    <p> {{user['content']}} </p>
                   
                    <form action="/delete" method="post">
                        <!--replace delete value with trash icon???-->
                        <input type="hidden" name="delid" value="{{user['id']}}"/>
                        <input type="submit" value="delete"/>
                    </form>
                    <br/>
                    {%endfor%}
                </div>


                <div class = "sendmess">
                    <p class="h4"> Send a message.</p>
                    <p> You have sent a total of {{amountsent}} messages so far.</p>
                    {% with errors = get_flashed_messages(category_filter=["posted"]) %}
                    {% if errors %}
                        {% for msg in errors %}
                        <p class="error">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% for user in users %}
                    <label> {{user['first_name']}}</label>
                    <form action="/create_mess" method="post">
                            <input type="hidden" name="hiddenid" value="{{user['id']}}"/>

                            <textarea name="message"> </textarea>
                            <input type="submit" value="Send"/>
                    </form>
                    {%endfor%}
                </div>
            </div>
            <div class="posts">
                <div class = "createpost">
                        <p class="h4"> Create a post.</p>
                        {% with errors = get_flashed_messages(category_filter=["dashpost"]) %}
                        {% if errors %}
                            {% for msg in errors %}
                            <p class="error">{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
    
                        <label> Post </label>
                        <form action="/create_post" method="post">
                                <textarea name="post"> </textarea>
                                <input type="submit" value="Post"/>
                        </form>

                        <div class = "showposts">
                                <p class="h4"> Posts </p>
                                {% for post in posts %}
                                <p> {{post['first_name']}} <em>{{post['created_at']}}</em></p>
                                <p> {{post['content']}} </p>
                                <form action="/deletePost" method="post">
                                    <!--replace delete value with trash icon???-->
                                    <input type="hidden" name="delid" value="{{post['id']}}"/>
                                    <input type="submit" value="delete"/>
                                </form>
                                <br/>
                                {%endfor%}
                            </div>
                </div>
                </div>
            </div>

        </div>
            
    </body>
</html>